<div class="row">
	<%= render "home/sidebar", categories: Category.all %>
	<div class="col-sm-8 col-8 no-gutters">
		<div class="product_index">
			<h2 class="midashi_txt brown_txt bold">商品一覧 <span class="txts">全<%= @category.products.count %>件</span></h2>

			<%= render "products/productlist", products: @products %>


		</div>
	</div>
	<div class='text-center'><%= paginate @products, class: "paginate" %></div>
</div>
